#im1{
	padding-top: 0vw;
	padding-left: 2vw;
}
#im1:hover{
	cursor: pointer;
}
#i1{
     color: white; 
     outline: 0 !important; 
     padding-left: 73vw;
 }
.navbar-nav .active{
	padding-left: 64vw;
}
.nav-link {
	color: white !important;
	font-size: 0.9vw;
	font-weight: 100;
	padding-top: 2vw;
}
.nav-link:hover{
	color: gray !important;
	cursor: pointer;
}
.nav-link hr{
	width: 50%;
	border-top: 1px solid white;
	/*margin-right: 2vw;*/
	opacity: 0;
	text-align: right;
    margin-top: 1vw;
}
.nav-link:hover hr{
	animation-name: an1;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
}
@keyframes an1{
	0%{width: 50%; opacity: 1;}
	100%{width: 100%; opacity: 1; }
}
@media screen and (max-width:1300px){
	.navbar-nav .active{
	padding-left: 58vw;
     }
     .nav-link {
	font-size: 1.1vw;
    }
}
@media screen and (max-width:1177px){
	.navbar-nav .active{
	padding-left: 50vw;
     }
     .nav-link {
	font-size: 1.3vw;
    }
}
@media screen and (max-width:955px){
	.navbar-nav .active{
	padding-left: 46vw;
     }
     .nav-link {
	font-size: 1.4vw;
    }
}
@media screen and (max-width:1177px){
	.navbar-nav .active{
	padding-left: 44vw;
     }
     .nav-link {
	font-size: 1.4vw;
    }
}
@media screen and (max-width:862px){
	.navbar-nav .active{
	padding-left: 42vw;
     }
     .nav-link {
	font-size: 1.5vw;
    }
}
@media screen and (max-width:804px){
	.navbar-nav .active{
	padding-left: 38vw;
     }
     .nav-link {
	font-size: 1.5vw;
    }
}
@media screen and (max-width:767px){
	.navbar-nav .active{
	padding-left: 0vw;
     }
     .nav-link {
	font-size: 2.5vw;
	padding-top: 0;

    }
    .nav-item{
    	text-align: center;
    	width: 100%;
    }
    @keyframes an1{
	0%{width: 10%; opacity: 1;}
	100%{width: 20%; opacity: 1; }
}
}
#h1{
	color: white;
	font-size: 5vw;
	padding-top: 15vw;
	padding-bottom: 5vw;
	font-weight: 200;
	padding-left: 35vw;
}
#h1:after{
	content: "TEJ";
	margin-left: 0vw;
	letter-spacing: -10px;
	opacity: 0;
	animation-name: an2;
	animation-duration: 10s;
	animation-iteration-count: infinite; 
}
@keyframes an2{
	0%{content: "TEJ"; margin-left: 25vw; letter-spacing: -1vw; opacity: 0;}
	31%{content: "TEJ"; margin-left: 2vw; letter-spacing: 0vw; opacity: 1;  }
	32%{content: "TEJ"; margin-left: 2vw; letter-spacing: 0vw; opacity: 0;}
	33%{content: "Experienced"; margin-left: 25vw; letter-spacing: -1vw; opacity: 0;}
	65%{content: "Experienced"; margin-left: 2vw; letter-spacing: 0vw; opacity: 1;}
    66%{content: "Experienced"; margin-left: 2vw; letter-spacing: 0vw; opacity: 0;}
    67%{content: "Creative"; margin-left: 25vw; letter-spacing: -1vw; opacity: 0;}
    99%{content: "Creative"; margin-left: 2vw; letter-spacing: 0vw; opacity: 1;  }
	100%{content: "Creative"; margin-left: 2vw; letter-spacing: 0vw; opacity: 0;}
}
#hr1{
	background-color: white;
	height: 1px;
	width: 5%;
	transform: rotate(90deg);
}
#h2{
	font-size: 1.6vw;
	color: white;
	margin-top: 3vw;
	padding-bottom: 1vw;
	font-weight: 200;
}
#h3{
	transform: rotate(90deg);
	color: white;
	font-size: 2vw;
}
#d1{
	margin-top: 6vw;
	animation-name: an3;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 0s;
}
@keyframes an3{
	0%{margin-top: 6vw;}
	50%{margin-top: 0vw;}
	100%{margin-top: 6vw;}
}
#h4{
	padding-top: 6vw;
	font-size: 2.4vw;
	font-weight: 400;
}
#h5{
	padding-top: 2vw;
	font-weight: 100;
	font-size: 1.8vw;
}
#h6{
	padding-top: 1vw;
	font-size: 1.2vw;
	font-weight: 100;
}
#h7{
	padding-top: 0.3vw;
	font-size: 1.2vw;
	font-weight: 100;
}
#b1{
	border-radius: 0;
	border: 1px solid black;
	background-color: white;
	margin-top: 2vw;
	font-size: 1.3vw;
}
#b1:hover{
	color: white;
	background-color: black;
	transition: 0.5s;
}
#b2{
	border-radius: 0;
	border: 1px solid black;
	background-color: white;
	margin-top: 2vw;
	margin-left: 1vw;
	font-size: 1.3vw;
}
#b2:hover{
	color: white;
	background-color: black;
	transition: 0.5s;
}
@media screen and (max-width: 1100px){
	#h4{
		font-size: 2.6vw;
		padding-top: 3vw;
	}
	#h5{
		font-size: 2vw;
	}
	#h6{
		font-size: 1.4vw;
	}
	#h7{
		font-size: 1.4vw;
	}
	#b1{
		font-size: 1.5vw;
	}
	#b2{
		font-size: 1.5vw;
	}
}
@media screen and (max-width:760px){
	#h4{
		font-size: 2.8vw;
		padding-top: 3vw;
	}
	#h5{
		font-size: 2.2vw;
		padding-top: 1vw;
	}
	#h6{
		font-size: 1.6vw;
		padding-top: 1vw;
	}
	#h7{
		font-size: 1.6vw;
	}
	#b1{
		font-size: 1.7vw;
		margin-top: 1vw;
	}
	#b2{
		font-size: 1.7vw;
		margin-top: 1vw;
	}

}
@media screen and (max-width: 575px){
	#h4{
		font-size: 3.8vw;
		padding-top: 7vw;
	}
	#h5{
		font-size: 3.2vw;
		padding-top: 2.5vw;
	}
	#h6{
		font-size: 2.5vw;
		padding-top: 1.5vw;
	}
	#h7{
		font-size: 2.5vw;
		padding-top: 0.2vw;
	}
	#b1{
		font-size: 3.5vw;
	}
	#b2{
		font-size: 3.5vw;
	}
}
#h12{
	font-size: 2.4vw;
	font-weight: 400;
	padding-top: 6vw;
	padding-bottom: 5vw;
}
#h9{
	font-size: 2.6vw;
	padding-top: 2vw;
	padding-bottom: 1vw;
}
#h10{
	font-weight: 200;
	font-size: 2vw;
	padding-top: 1vw;
}
#h11{
	font-weight: 100;
	font-size: 1.3vw;
	padding-left: 1vw;
	padding-right: 1vw;
	text-align: center;
	padding-top: 1vw;
	padding-bottom: 3vw;
}
#col1{
	border: 1px solid #edf0f5;
}
#col1:hover{
	border: 1px solid gray;
	transition: 1s;
	box-sizing: border-box;;
}
@media screen and (max-width: 890px){
	#h11{
		font-size: 1.5vw;
	}
}
@media screen and (max-width: 890px){
	#h11{
		font-size: 1.7vw;
	}
}
@media screen and (max-width: 575px){
	#col1{
		margin-left: 2vw;
	}
	#h9{
		font-size: 6vw;
	}
	#h10{
		font-size: 5vw;
	}
	#h11{
		font-size: 3vw;
	}
	#h12{
		font-size: 6.5vw;
	}
}
#d4{
	font-size: 3vw;
	padding-top: 7vw;
	color: white;
}
#d2{
	font-size: 2.9vw ;
	color: white;
	padding-top: 1vw;
}
#d3{
	color: white;
	padding-top: 0.5vw;
	font-weight: 200;
	font-size: 1.5vw;
	padding-bottom: 7vw;
}
@media screen and (max-width:575px){
#d4{
	font-size: 6vw;
}
#d2{
	font-size: 7vw;
}
#d3{
	font-size: 3.5vw;
}
}
#e1{
	font-size: 3vw;
	font-weight: 300;
	padding-top: 7vw;
	padding-bottom: 3vw;
}
#ul1{
	list-style: none;
}
#ul1 li{
	display: inline-block;
	font-size: 1.1vw;
	padding-right: 1vw;
	padding-left:1vw;
}
#ul1 li:hover{
	color: gray;
	cursor: pointer;
}
#g1{
	/*position: relative;*/
	color: gold;
	/*margin-top: -15vw;*/
	border-radius: 50%;
	padding-top: 8vw;
	padding-bottom: 9vw;
}
#g11{
	font-size: 2vw;
	border-radius: 50%;
	padding: 9px;
	border: 1px solid silver;
	margin-right: 8vw;
	margin-top: -18vw;
	opacity: 0;
}
#g12{
	font-size: 2vw;
	border-radius: 50%;
	padding: 9px;
	border: 1px solid silver;
	margin-left: 8vw;
	margin-bottom: 5px;
	opacity: 0;
}
#g13{
	font-size: 2vw;
	border-radius: 50%;
	padding: 8px 6px 8px 6px;
	border: 1px solid silver;
	margin-right: 8.3vw;
	opacity: 0;
}
#g14{
	font-size: 2vw;
	border-radius: 50%;
	padding: 9px;
	border: 1px solid silver;
	margin-left: 7.8vw;
	opacity: 0;
}
#col2:hover #g11{
	/*animation-name: an4;
	animation-iteration-count: infinite;
	animation-duration: linear 5s;
	transform: rotate(0deg);*/
	cursor: pointer;
    margin-right: 5px;
    transition: 1s;
    opacity: 1;
}
#col2:hover #g12{
	cursor: pointer;
	margin-left: 5px;
	transition: 1s;
	opacity: 1;
}
#col2:hover #g13{
	/*animation-name: an4;
	animation-iteration-count: infinite;
	animation-duration: linear 5s;
	transform: rotate(0deg);*/
	cursor: pointer;
    margin-right: 5px;
    transition: 1s;
    opacity: 1;
}
#col2:hover #g14{
	cursor: pointer;
	margin-left: 5px;
	transition: 1s;
	opacity: 1;
}
#col2:hover{
	filter: opacity(0.7);
}
#g11:hover{
	cursor: pointer;
    margin-right: 5px;
    transition: 1s;
    opacity: 1;
    color: blue;
    transform: scale(1.3);
}
#g12:hover{
	cursor: pointer;
    margin-left: 5px;
    transition: 1s;
    opacity: 1;
    color: blue;
    transform: scale(1.3);
}
#g13:hover{
	cursor: pointer;
    margin-right: 5px;
    transition: 1s;
    opacity: 1;
    color: blue;
    transform: scale(1.3);
}
#g14:hover{
	cursor: pointer;
    margin-left: 5px;
    transition: 1s;
    opacity: 1;
    color: blue;
    transform: scale(1.3);
}
#r1{
	margin-top: 8vw;
}
@media screen and (max-width:1330px){
	#r1{
	margin-top: 7vw;}
}
@media screen and (max-width:1319px){
	#r1{
	margin-top: 5vw;}
}
@media screen and (max-width:1314px){
	#r1{
	margin-top: 5vw;}
}

/*@media screen and (max-width: 788px){
	#g11, #g12, #g13, #g14{
		font-size: 3vw;
	}
	#e1{
		font-size: 3.5vw;
	}
	#ul1 li{
		font-size: 1.4vw;
	}
	
}*/
@media screen and (max-width: 575px){
	#g11, #g12, #g13, #g14{
		font-size: 7.4vw;
	}
	#g1{
		padding-top: 25vw;
		padding-bottom: 35vw;
	}
	#e1{
		font-size: 5vw;
	}
	#ul1 li{
		font-size: 2vw;
	}
}
#t4{
	background-color: white;
	border-radius: 0;
	color: black;
	border: 1px solid black;
	font-size: 1.6vw;
	margin-top: 3vw;
	margin-bottom: 3vw;
	font-weight: 100;
}
#t4 i{
	padding-left: 2vw;
	padding-right: 1vw;
}
#t4:hover{
	background-color: black;
	color: white;
	transition: 1s;
}
#t3{
	padding-top: 5vw;
	padding-bottom: 5vw;
	font-weight: 300;
	font-size: 3vw;
}
#t1{
	color: white;
	opacity: 0.7;
	font-size: 1.3vw;
	font-weight: 200;
	padding-bottom: 2vw;
	padding-top: 1vw;
}
#t2{
	font-weight: 100;
	color: white;
	font-size: 1vw;
	opacity: 0.7;
	padding-bottom: 1vw;

}
#t2 span{
	letter-spacing: -1.9px;
	padding-right: 1vw;
}

#t6:hover{
	transform: scale(1.1);
	transition: 2s;
}
#t5{
	opacity: 0;
	background-color: black;
}
#t6:hover #t5{
	opacity: 0.7;
	transition: 2s;
}
#t7{
   filter: grayscale(2);
}
#t6:hover #t7{
	filter: grayscale(0.5);
	transition: 2s;
}
@media screen and (max-width:575px){
   #t4{
   	font-size: 3vw;
   }
   #t3{
   	font-size: 4.5vw;
   }
   #t1{
   	font-size: 3.5vw;
   }
   #t2{
   	font-size: 2.6vw;
   }
   #l1 .col-sm-4{
   	padding-bottom: 9vw;
   }
}
#l2{
	font-size: 4vw;
	padding-top: 2vw;
	font-weight: 100;
}
#l3{
	padding: 0 6vw 0 6vw;
	font-size: 1.8vw;
	font-weight: 200;
}
#l4{
	font-size: 1.6vw;
	font-weight: 100;
	padding-top: 2vw;
	padding-bottom: 6vw;
}
#l4 span{
	letter-spacing: -4px;
	padding-right: 2vw;
}
@media screen and (max-width:575px){
	#l2{
		font-size: 7vw;
		padding-top: 4vw;
	}
	#l3{
        font-size: 2.8vw;
	}
	#l4{
		font-size: 2.6vw;
	}
}
#l5{
	font-size: 2.6vw;
	font-weight: 200;
	padding-top: 3vw;
	padding-bottom: 4vw;
}
form{
	background-color: black;
	padding: 1vw;
}
#inname{
	border-radius: 0;
	padding-top:0.8vw;
	padding-bottom: 0.8vw;
	margin-top: 2vw;
	color: white;
	background-color: black;
	border-bottom: 1px solid white !important;
	border-top: black;
	border-right: black;
	border-left: black;
}
#inname::placeholder{
	color: gray !important;
	font-size: 15px;
	font-weight: 100;
}
#inemail{
	border-radius: 0;
	padding-top:0.8vw;
	padding-bottom: 0.8vw;
	color: white;
	background-color: black;
	border-bottom: 1px solid white !important;
	border-top: black;
	border-right: black;
	border-left: black; 
	outline:0 !important;
}


#inemail::placeholder{
	color: gray !important;
	font-size: 15px;
	font-weight: 100;
}
#insubject{
	border-radius: 0;
	padding-top:0.8vw;
	padding-bottom: 0.8vw;
	color: white;
	background-color: black;
	border-bottom: 1px solid white !important;
	border-top: black;
	border-right: black;
	border-left: black; 
}
#insubject::placeholder{
	color: gray !important;
	font-size: 15px;
	font-weight: 100;
}
#intext{
	border-radius: 0;
	padding-top:0.8vw;
	padding-bottom: 6vw;
	color: white;
	background-color: black;
	border-bottom: 1px solid white !important;
	border-top: black;
	border-right: black;
	border-left: black; 
}
#intext::placeholder{
	color: gray !important;
	font-size: 15px;
	font-weight: 100;
	
}
#btn{
	border-radius: 0;
	background-color: black;
	color: white;
	border-color: white;
	font-weight: 100;
	margin-top: 1vw;
	margin-bottom: 2vw;

}
#btn:hover{
	color: black;
	background-color: white;
}
#l6{
	font-size: 2.2vw;
	font-weight: 200;
	padding-right: 8vw;
}
#l7{
	font-size: 1.3vw;
	font-weight: 100;
	padding-right: 8vw;
}
#l8{
	font-size: 1.3vw;
	font-weight: 100;
	padding-top: 2vw;
}
#l9{
	padding: 18px;
	color: white;
	background-color: black;
	margin-right: 1vw;
	font-size: 1vw;
}
#l10{
	padding: 18px 20px 18px 20px;
	color: white;
	background-color: black;
	margin-right: 1vw;
	font-size: 1vw;
}
@media screen and (max-width:575px){
	#l5{
		font-size: 5vw;
	}
	#l6{
		font-size: 4.2vw;
		padding-top: 6vw;
	}
	#l7{
		font-size: 3vw;
		padding-top: 2vw;
	}
	#l8{
		font-size: 3vw;
		padding-top: 4vw;
	}
	#l9{
		font-size: 2vw;
	}
	#l10{
		font-size: 2vw;
	}
}
#l11{
	font-size: 1vw; 
	color: gray;
	font-weight: 100;
	padding-top: 3vw;
	margin-right: 5vw;
}
#l11 i{
	margin-right: 1vw;
	font-size: 0.8vw;
	color: black;
	background-color: white;
	padding: 5px;
}
#l12{
   font-size: 1vw; 
	color: gray;
	font-weight: 100;
}
#l12 i{
	margin-right: 1vw;
	font-size: 0.8vw;
	color: black;
	background-color: white;
	padding: 5px;
}
#l13{
	padding-top:3vw;
}
#l14{
	font-size: 1vw;
	font-weight: 100;
	color: gray;
	padding-top: 0.5vw;
	padding-bottom: 3vw;
}
#ul2{
	list-style: none;
}
#ul2 li{
	display: inline-block;
	color: black;
	margin-top: 3vw;
	margin-right: 7px;
	padding: 3px 6px 3px 6px;
	font-size: 1vw;
	background-color: gray;
	border-radius: 20%;
}
#ul2 li:hover{
	background-color: white;
	cursor: pointer;
}
@media screen and (max-width:1041px){
     #ul2 li{
     	font-size: 1.2vw;
     }
     #l14{
     	font-size: 1.2vw;
     }
     #l11{
        font-size: 1.2vw;
        margin-right: 6vw;
     }
     #l12{
     	font-size: 1.2vw;
     }
}
@media screen and (max-width:839px){
     #ul2 li{
     	font-size: 1.4vw;
     }
     #l14{
     	font-size: 1.4vw;
     }
     #l11{
        font-size: 1.4vw;
        margin-right: 7.2vw;
     }
     #l12{
     	font-size: 1.4vw;
     }
}
@media screen and (max-width:683px){
	#ul2 li{
		margin-right: 3px;
	}
}
@media screen and (max-width:613px){
	#ul2 li{
		margin-right: 3px;
		padding: 2px 4px 2px 4px;
	}
}
@media screen and (max-width: 575px){
	#l11{
		font-size: 1.8vw;
		margin-right: 9.3vw;
	}
	#l11 i{
		font-size: 1.6vw;
	}
	#l12{
		font-size: 1.8vw;
	}
	#l12 i{
		font-size: 1.6vw;
	}
	#l14{
		font-size: 1.8vw;
	}
	#ul2 li{
		font-size: 1.8vw;
	}
}